$widget-prefix: 'xgamedelivery-widget';
$widget-class: '.' + $widget-prefix;

@import "functions/class-name";

@import "mixins/misc";
@import "mixins/game-logo";
@import "mixins/payment-button";
@import "mixins/spinner";
@import "mixins/error-message";
@import "mixins/payment-method";
@import "mixins/tether";

#{$widget-class} {
  @include normalize;

  background: #262626;
  border-radius: 5px;
  overflow: hidden;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.3em;
  color: #9b9b9b;
  position: relative;

  .spinner {
    @include spinner;
  }

  .error-message {
    @include error-message;
  }

  .formatted-currency {
    white-space: nowrap;

    &-ruble {
      display: inline-block;
      font-size: .75em;
      height: 1em;
      vertical-align: baseline;
      margin-left: .1em;

      svg {
        height: 1em;
        width: 1em;
        fill: currentColor;

        g {
          fill: currentColor;
        }
      }
    }
  }
}

#{$widget-class}#{$widget-class}__tiny,
#{$widget-class}#{$widget-class}__compact {
  #{$widget-class}-game-logo {
    @include game-logo;

    height: 132px;
    width: 100%;
  }

  #{$widget-class}-payment-button {
    @include payment-button;

    height: 48px;
    width: 100%;

    &:active {
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, .15);
    }
  }
}

#{$widget-class}#{$widget-class}__tiny {
  width: 220px;
  height: 180px;
}

#{$widget-class}#{$widget-class}__compact {
  width: 220px;
  height: 216px;

  #{$widget-class}-payment-list {
    height: 36px;
    width: 100%;
    background: #ffffff;
    padding: 7px;
    text-align: center;

    &-method {
      @include payment-method;

      height: 22px;
      width: 36px;
      margin: {
        left: 2px;
        right: 2px;
      }
      border: 1px solid #c1c8d8;
      border-radius: 2px;
      box-shadow: inset 0 1px 1px rgba(255, 255, 255, .7);
      padding: 1px;
      background: #f0f2f6;
    }
  }
}

#{$widget-class}#{$widget-class}__full {
  width: 780px;
  min-height: 156px;
  background: #ffffff;

  #{$widget-class}-game {
    min-height: 96px;
    padding: {
      top: 16px;
      bottom: 16px;
      left: 20px;
      right: 20px;
    }
    background: #ffffff;

    &-logo {
      @include game-logo;

      width: 100px;
      height: 64px;
      border-radius: 4px;
    }

    &-logo-column {
      float: left;
      width: 100px;
      margin-right: -100px;
    }

    &-info-column {
      margin-left: 120px;
    }

    &-price {
      font-size: 20px;
      line-height: 20px;
      color: #29a574;
      float: right;
      opacity: .99;   // sets the same color for svg and text
    }

    &-name {
      font-size: 24px;
      line-height: 20px;
      color: #4a4a4a;
      margin-bottom: 5px;
      max-width: 450px;
    }

    &-description {
      font-size: 12px;
      line-height: 16px;
      color: #9b9b9b;
      margin-bottom: 5px;
      max-width: 450px;
    }

    &-system-requirements {
      font-size: 12px;
      line-height: 18px;
      color: #bdc3c7;
      text-transform: uppercase;
      float: right;

      &-icon, &-label {
        display: inline-block;
        vertical-align: middle;
      }

      &-icon {
        margin-right: .3em;
        width: 14px;
        height: 14px;
      }

      &-label {
        @include no-select;

        text-decoration: underline;
        cursor: pointer;
      }
    }

    &-drm {
      height: 16px;
      font-size: 12px;
      line-height: 16px;

      &-item {
        display: inline-block;
        height: 16px;
        margin-right: 7px;
        vertical-align: top;

        img {
          width: auto;
          height: 16px;
        }
      }
    }
  }

  #{$widget-class}-payment {
    height: 60px;
    background: #f0f0f0;
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, .02);
    padding: {
      top: 12px;
      bottom: 12px;
      left: 20px;
      right: 20px;
    }

    &-list {
      display: inline-block;
      vertical-align: top;

      &-title, &-method {
        margin-right: 12px;
        display: inline-block;
        vertical-align: middle;
      }

      &-title {
        width: 108px;
        font-size: 12px;
        line-height: 16px;
        text-transform: uppercase;

        &:after {
          content: '';
          display: inline-block;
          vertical-align: middle;
          width: 0;
          height: 36px;
        }
      }

      &-method {
        @include payment-method;

        width: 78px;
        height: 36px;
        padding: 2px;
        margin-right: 12px;
        cursor: pointer;
        background: #f2f2f2;
        background: linear-gradient(#f2f2f2, #d4d4d4);
        border-radius: 3px;
        box-shadow: inset 0 0 1px rgba(0, 0, 0, .25), inset 0 -1px rgba(0, 0, 0, .25), inset 0 -2px 2px rgba(0, 0, 0, .1);

        &:hover {
          background: #f6f6f6;
          background: linear-gradient(#f6f6f6, #dadada);
        }

        &:active {
          box-shadow: inset 0 0 1px rgba(0, 0, 0, .25), inset 0 2px 2px rgba(0, 0, 0, .15);
        }
      }
    }

    &-button {
      @include payment-button;

      display: inline-block;
      vertical-align: top;
      height: 36px;
      width: 168px;
      border-radius: 3px;
      box-shadow: inset 0 0 2px rgba(0, 0, 0, .1), inset 0 -2px 1px rgba(0, 0, 0, .15);

      &:active {
        box-shadow: inset 0 0 2px rgba(0, 0, 0, .1), inset 0 2px 2px rgba(0, 0, 0, .15);
      }
    }
  }
}
