$widget_background-color: #292929;
$full-widget_background-color: #292929;
$widget_color: #9b9b9b;

$game-price_color: #7fc8ff;
$game-name_color: #ffffff;
$game-description_color: #9b9b9b;
$game-system-requirements_color: #959595;

$drm-item_color: #9b9b9b;
$drm-item_background-color: transparent;

$widget-payment_background-color: #1f1f1f;
$payment-list_background-color: #1f1f1f;
$payment-method_border-color: #ffffff;
$payment-method_background-color: #f2f2f2;
$payment-method_background-top-color: #f2f2f2;
$payment-method_background-bottom-color: #e7e7e7;
$payment-method_background-top-color__hover: #f8f8f8;
$payment-method_background-bottom-color__hover: #eeeeee;

$payment-button_color: #ffffff;
$payment-button-logo_border-color: #3a84bc;
$payment-button_background-top-color: #7ac0f5;
$payment-button_background-bottom-color: #4295d2;
$payment-button_background-top-color__hover: #7fc7ff;
$payment-button_background-bottom-color__hover: #499cd9;