$widget_background-color: #000;
$widget_color: #9b9b9b;

$game-name-color: #ffffff;

$widget-payment_background-color: #1f1f1f;

$payment-button_color: #ffffff;

$payment-button_background-top-color: #0047ff;

$tip-button_color: #6f6f6f;
$tip-button_color__hover: #525252;

$tips-list_color: #ffffff;
$tips-list_color__hover: #ffffff;
$tips-list_background-color__hover: #545454;
$tips-list-close_color: #6f6f6f;
$tips-list-close_color__hover: #525252;

$gradient-block: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 25%);