$widget_background-color: #000;
$game-name-color: #ffffff;
$tip-button_color: #acacac;

$tips-list_color: #ffffff;
$tips-list_color__hover: #ffffff;
$tips-list_background-color__hover: #545454;
$tips-list-close_color: #8a8a8a;
$tips-list-close_color__hover: #525252;

$gradient-block: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 25%);