$widget_background-color: #ffffff;
$full-widget_background-color: #ffffff;
$widget_color: #9b9b9b;

$game-price_color: #29a574;
$game-name_color: #4a4a4a;
$game-description_color: #9b9b9b;
$game-system-requirements_color: #bdc3c7;

$drm-item_color: #ffffff;
$drm-item_background-color: #bdc3c7;

$widget-payment_background-color: #f0f0f0;
$payment-list_background-color: #ffffff;
$payment-method_border-color: #c1c8d8;
$payment-method_background-color: #f0f2f6;
$payment-method_background-top-color: #f2f2f2;
$payment-method_background-bottom-color: #d4d4d4;
$payment-method_background-top-color__hover: #f6f6f6;
$payment-method_background-bottom-color__hover: #dadada;

$payment-button_color: #ffffff;
$payment-button-logo_border-color: rgba(0, 0, 0, .05);
$payment-button_background-top-color: #57c69a;
$payment-button_background-bottom-color: #4ea180;
$payment-button_background-top-color__hover: #57cca0;
$payment-button_background-bottom-color__hover: #4daa89;

$tip-button_color: #ffffff;
$tip-button_color__hover: #009c75;
$tip-button_shadow-color: #118a6b;
$tip-button_background-top-color: #3ecea9;
$tip-button_background-bottom-color: #48bb9e;
$tip-button_background-top-color__hover: #ffffff;
$tip-button_background-bottom-color__hover: #cdf7ec;

$tips-list_color: #009670;
$tips-list_color__hover: $tips-list_color;
$tips-list_background-color__hover: #cafff2;
$tips-list-close_color: #000000;
$tips-list-close_color__hover: #acacac;