$widget_background-color: #ffffff;
$game-name-color: #4a4a4a;
$tip-button_color: #6f6f6f;

$tips-list_color: #000000;
$tips-list_color__hover: #000000;
$tips-list_background-color__hover: #c6c6c6;
$tips-list-close_color: #8a8a8a;
$tips-list-close_color__hover: #bebebe;

$gradient-block: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 22%);