$widget_background-color: #ffffff;
$full-widget_background-color: #ffffff;
$widget_color: #9b9b9b;

$game-name-color: #4a4a4a;

$widget-payment_background-color: #f0f0f0;

$payment-button_color: #ffffff;
$payment-button-logo_border-color: rgba(0, 0, 0, .05);
$payment-button_background-top-color: #00b86e;

$tip-button_color: #6f6f6f;
$tip-button_color__hover: #bebebe;

$tips-list_color: #000000;
$tips-list_color__hover: #000000;
$tips-list_background-color__hover: #c6c6c6;
$tips-list-close_color: #6f6f6f;
$tips-list-close_color__hover: #bebebe;

$gradient-block: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 22%);