@mixin payment-method () {
  $payment-method-class: extractClassName(&);

  display: inline-block;
  vertical-align: top;

  #{$payment-method-class}-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  &#{$payment-method-class}__tiny {
    border: 1px solid #c1c8d8;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, .7);
    padding: 1px;
    background: #f0f2f6;
  }
}
