@mixin payment-button () {
  @include no-select;

  -moz-appearance: none;
  -webkit-appearance: none;

  display: block;
  background: #57c69a;
  background: linear-gradient(#57c69a, #4ea180);
  cursor: pointer;
  color: #ffffff;
  font-size: 18px;
  border: 0;
  padding: 0;
  text-align: left;

  $payment-button-class: extractClassName(&);

  &:hover {
    background: #57cca0;
    background: linear-gradient(#57cca0, #4daa89);
  }

  &-xsolla-logo {
    height: 100%;
    width: 58px;
    border-right: 2px solid rgba(0, 0, 0, .05);
    text-align: center;
    background: rgba(0, 0, 0, .03);
    display: inline-block;
    vertical-align: middle;

    svg {
      display: inline-block;
      height: 66%;
      position: relative;
      top: 16%;
    }
  }

  &-amount,
  &-methods {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    text-align: center;
  }

  &-methods {
    white-space: nowrap;
    text-align: left;

    &-count,
    &-label {
      display: inline-block;
      vertical-align: middle;
    }

    &-count {
      font-size: 20px;
      line-height: 24px;
      width: 55px;
      text-align: center;
    }

    &-label {
      font-size: 10px;
      line-height: 12px;
      text-transform: uppercase;
      width: 100%;
      margin-left: -60px;
      padding-left: 60px;
      white-space: normal;
    }
  }

  &:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
  }

  &-xsolla-logo + #{$payment-button-class}-amount,
  &-xsolla-logo + #{$payment-button-class}-methods {
    margin-left: -60px;
    padding-left: 60px;
  }
}
