@mixin payment-button() {
  @include no-select;

  -moz-appearance: none;
  -webkit-appearance: none;

  z-index: 1;
  display: block;
  position: relative;
  text-align: center;
  cursor: pointer;
  font-size: 15px;
  border: 0;
  padding: 0;
  color: #ffffff;
  line-height: normal;

  background-color: #0047ff;

  &__green {
    background-color: #00a562;

    &:hover {
      background-color: #00cc79;
    }
  }

  &__red {
    background-color: #d80c0c;

    &:hover {
      background-color: #ff1616;
    }
  }

  &__blue {
    background-color: #0047ff;

    &:hover {
      background-color: #007aff;
    }
  }

  &__gold {
    background-color: #d69200;

    &:hover {
      background-color: #eba000;
    }
  }

  &[disabled] {
    background-color: #a7a7a7;
    font-size: 12px;
  }

  border-radius: 3px;

  transition: background-color 0.2s ease 0s, transform 200ms;
  transform: translateX(0px) translateY(0px) translateZ(0px);

  &__moved {
    transform: translateX(0px) translateY(-144px) translateZ(0px);
  }

  &-amount {
    position: absolute;
    top: 49%;
    left: 50%;
    width: 162px;
    transform: translate(-50%, -50%);

    & > span {
      display: block;
    }

    .discount {
      margin-top: 1px;
      margin-left: 3px;
      font-size: 11px;
      text-decoration: line-through;
      opacity: 0.7;
    }
  }
}
