@mixin tips-list() {
  @include no-select;

  list-style-type: none;
  padding: 0;
  margin: 0;

  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 2;
  text-align: center;
  font-size: 14px;

  $tips-list-class: extractClassName(&);

  transition: background-color 0.2s ease 0s, transform 200ms;
  transform: translateX(0px) translateY(0px) translateZ(0px);



  &-item {
    display: flex;
    height: 34px;
    width: 60px;
    padding-right: 6px;
    padding-left: 6px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: $tips-list_color;

    transition: background-color 200ms ease, -webkit-transform 200ms ease;
    transition: background-color 200ms ease, transform 200ms ease;
    transition: background-color 200ms ease, transform 200ms ease, -webkit-transform 200ms ease;

    &-icon {
      margin-top: 2px;
      fill: $tips-list-close_color;
    }

    &__amount:hover {
      transform: scale(1.1);
      background-color: $tips-list_background-color__hover;
    }

    &__close:hover {
      #{$tips-list-class}-item-icon {
        fill: $tips-list-close_color__hover;
      }
    }
  }
}